@font-face {
    src: url(fonts/futura.ttf);
    font-family: futura;
}
@font-face {
    src: url(fonts/avenir.otf);
    font-family: avenir;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.home-page-container {
    height: 116vh;
    position: relative;
}
.home-page-image-gallery-container {
    height: 116vh;
    width: 114vw;
    display: flex;
}
.image-container {
    height: 100%;
    width: 19vw;
    background-color: red;
    position: relative;
    cursor: pointer;
}
.image-in-gallery {
    width: 100%;
    height: 100%;
}
.tag-button-container {
    position: absolute;
    width: 3.5vw;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.657);
    bottom: 8.5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.add-button-div {
    font-family: futura;
    color: white;
    font-weight: bold;
    font-size: 0.5vw;
    writing-mode: vertical-rl;
}
.tag-button-add-button-div {
    width: 2.4vw;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.fa-tag {
    color: white;
    font-size: 1.8vw;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.price {
    color: white;
    font-family: avenir;
    font-size: 0.9vw;
}
.share-button-container {
    position: absolute;
    width: 40%;
    height: 10vh;
    bottom: 0;
}
.share-button {
    margin-left: 1vw;
    margin-top: 4.4vh;
}
.home-page-profile-picture-container {
    position: fixed;
    width: 10%;
    height: 12vh;
    top: 0;
    cursor: pointer;
}
.profile-picture-div {
    position: absolute;
    top: 4.2vh;
    left: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.profile-pic {
    width: 54px;
    height: 54px;
    background-color: black;
    border-radius: 50%;
}
.profile-image {
    width: 100%;
    height: 100%;
}
.login-page-container {
    width: 50vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.login-page-cross-button {
    height: 6vh;
    width: 100%;
    display: flex;
    border-top-right-radius: 2vw;
    justify-content: flex-end;
}
.close-login-page-container {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 2vw;
}
.fa-clone {
    font-size: 1.6vw;
    transform: rotate(180deg);
}
.login-page-heading {
    height: 6vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: futura;
    font-size: 22px;
    font-weight: bold;
}
.login-page-inputs {
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs-container {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.inputs-container  label {
    opacity: 69%;
    color: black;
    font-family: futura;
    font-size: 18px;
}
.username-input-div {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.password-input-div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username-input , .password-input {
    border: none;
    outline: none;
    font-family: futura;
    width: 15vw;
    height: 3vh;
    font-size: 18px;
}
.username-input::placeholder {
    text-align: center;
}
.password-input::placeholder {
    text-align: center;
}
.login-page-button {
    width: 100%;
    height: 10vh;
    margin-top: 38vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-button {
    width: 30%;
    height: 65%;
    background-color: black;
    color: white;
    font-family: futura;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    outline: none;
}
.login-page {
    display: none;
}
.home-page-filter-button-container {
    position: fixed;
    width: 10%;
    height: 12vh;
    top: 0;
    right: 0;
    cursor: pointer;
}
.filter-button {
    position: absolute;
    top: 8vh;
    right: 2.8vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.line-filter-1 , .line-filter-2 , .line-filter-3 {
    width: 1.8vw;
    height: 0.525vh;
    border-radius: 1.5px;
    background-color: white;
    margin-top: 0.45vh;
}
.line-filter-2 {
    width: 1.4vw;
}
.line-filter-3 {
    width: 0.8vw;
}
.inner-line-filter-1 , .inner-line-filter-2 , .inner-line-filter-3 {
    width: 1.8vw;
    height: 0.525vh;
    border-radius: 2px;
    background-color: black;
    margin-top: 0.45vh;
}
.inner-line-filter-2 {
    width: 1.4vw;
}
.inner-line-filter-3 {
    width: 0.8vw;
}
.fa-times {
    font-size: 2vw;
}
.filters-container {
    width: 13.5vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
}
.filter-menu-div {
    margin-top: 4vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter-menu {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter-heading-div {
    margin-top: 4vh;
    height: 4vh;
    background-color: black;
}
.gender-filter-div {
    margin-top: 2vh;
    height: 8vh;
    background-color: black;
}
.top-new-filter-div {
    margin-top: 3vh;
    height: 8vh;
    background-color: black;
}
.categories-filter-div {
    margin-top: 6vh;
    height: 20vh;
    background-color: black;
}
.tos-faq-page-div {
    height: 14vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.faq-div , .tos-div {
    width: 90%;
    height: 6vh;
    border: 1px solid black;
    border-radius: 0.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    color: black;
    font-family: futura;
    font-weight: bold;
    cursor: pointer;
}
.close-filters-container {
    width: 5vw;
    height: 5vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page-cart-button-container {
    position: fixed;
    width: 10%;
    height: 12vh;
    bottom: 0;
    right: 0;
}
.cart-image {
    width: 2vw;
    height: 5vh;
    position: absolute;
    right: 2vw;
    bottom: 3vh;
}
.mobile-container , .mobile-login-container {
    display: none;
}


@media only screen and (max-width:468px){
    .home-page-container {
        display: none;
    }
    .mobile-container {
        width: 100%;
        height: 100vh;
        position: relative;
        display: block;
    }
    .mobile-image {
        width: 100%;
        height: 100%;
    }
    .profile-picture-container {
        width: 24vw;
        height: 10vh;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .profile-picture-div-mob {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color: white;
    }
    .mobile-profile-image {
        height: 100%;
        width: 100%;
    }
    .filters-menu-container {
        width: 24vw;
        height: 10vh;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .filter-button-mob {
        width: 12vw;
        height: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .mob-filter-line-3 , .mob-filter-line-2 , .mob-filter-line-1 {
        width: 90%;
        height: 0.5vh;
        background-color: white;
        border-radius: 2px;
    }
    .mob-filter-line-2 {
        width: 70%;
    }
    .mob-filter-line-3 {
        width: 50%;
    }
    .share-button-container {
        width: 24vw;
        height: 10vh;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .share-button-mob {
        width: 10vw;
        height: 4vh;
    }
    .share-mob-image {
        width: 100%;
        height: 100%;
    }
    .cart-button-container {
        width: 24vw;
        height: 10vh;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-button-mob {
        width: 8vw;
        height: 5vh;
    }
    .cart-mob-image {
        width: 100%;
        height: 100%;
    }
    .mobile-login-container {
        width: 100vw;
        height: 100vh;
        background-color: white;
    }
    .mob-back-div {
        height: 10vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        font-family: futura;
        justify-content: space-between;
        padding-right: 8vw;
        padding-left: 40%;
    }
    .fa-clone {
        font-size: 6vw;
    }
    .mob-login-heading-div {
        font-size: 6.5vw;
    }
    .mob-login-inputs-div {
        width: 100%;
        height: 20vh;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .mob-login-inputs {
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .mob-username-div , .mob-password-div {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .mob-login-inputs label {
        opacity: 69%;
        color: black;
        font-family: futura;
        font-size: 18px;
    }
    .mob-username-input , .mob-password-input {
        border: none;
        outline: none;
        font-family: futura;
        width: 40vw;
        height: 5vh;
        font-size: 18px;
    }
    .mob-username-input::placeholder {
        text-align: center;
    }
    .mob-password-input::placeholder {
        text-align: center;
    }
    .mob-login-button-div {
        height: 10vh;
        width: 100%;
        margin-top: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-button-mob {
        width: 75%;
        height: 70%;
        color: white;
        background-color: black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: futura;
        font-size: 5.2vw;
        border: none;
        outline: none;
    }
    .mobile-login-container {
        display: none;
    }
}