<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <h1 style="text-align: center">Welcome to Project Lucia</h1>
    <h2 style="text-align: center">Home Page</h2>
    <p>Go to <b>/admin</b> to enter the admin panel <br>There, add a user
    in the User table<br>
    Then in the address bar above, type <b>homepage.com/username</b> to go to the store of that user<br>
    [NOTE: above "username" is the username you define for any user</p>
</body>
</html>