<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_SUFFIX %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Lucia</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://kit.fontawesome.com/6c5f0342bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- this is the container for home page -->
    <div class="home-page-container">
        <!-- this is container for the gallery of images -->
        <div class="home-page-image-gallery-container">
            <!-- this is the container for image -->
            <div class="image-container">
                <img src="{% static 'images/first.png' %}" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div>
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/second.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/third.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/fourth.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/fifth.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/third.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div>                    
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
        </div>
        <!-- this is the container for profile picture -->
        <div class="home-page-profile-picture-container">
            <!-- this is the profile picture -->
            <div class="profile-picture-div">
                <div class="profile-pic">
                    <img src="{{ STATIC_SUFFIX }}images/profilepic.png" alt="" class="profile-image">
                </div>
            </div>
        </div>
        <!-- this is the container for login page -->
        <div class="login-page-container">
            <div class="login-page">
                <div class="login-page-cross-button">
                    <div class="close-login-page-container">
                        <i class="fas fa-clone"></i>
                    </div>
                </div>
                <div class="login-page-heading">
                    Login
                </div>
                <div class="login-page-inputs">
                    <div class="inputs-container">
    
                        <div class="username-input-div">
                            <label for="username">Username:</label>
                            <input type="text" id="username" class="username-input" placeholder="@LuciaMareno">
         <form class="ajax-login-form" method="post">
            {% csrf_token %}
            <div class="login-page-container">
                <div class="login-page">
                    <div class="login-page-cross-button">
                        <div class="close-login-page-container">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="login-page-heading">
                        Login
                    </div>
                    <div class="login-page-inputs">
                        <div class="inputs-container">

                            <div class="username-input-div">
                                <label for="username">Username:</label>
                                <input type="text" id="username" class="username-input" name="username" placeholder="@LuciaMareno">
                            </div>
                            <div class="password-input-div">
                                <label for="password">Password:</label>
                                <input type="password" id="password" class="password-input" name="password" placeholder="Hello1234">
                            </div>
                            <br>
                            <p class="login-request-result" style="color: #8b150f"></p>
                        </div>
                    </div>
                    <div class="login-page-button">
                        <button class="login-button">Login</button>
                    </div>
                </div>
            </div>
         </form>
        <!-- this is the container for filter button -->
        <div class="home-page-filter-button-container">
            <div class="filter-button">
                <div class="line-filter-1"></div>
                <div class="line-filter-2"></div>
                <div class="line-filter-3"></div>
            </div>
        </div>
        <!-- this is the container for all filters -->
        <div class="filters-container">
            <div class="filters-page">
                <div class="filter-menu-div">
                    <div class="filter-menu">
                        <div class="filter-button-inner-page">
                            <div class="inner-line-filter-1"></div>
                            <div class="inner-line-filter-2"></div>
                            <div class="inner-line-filter-3"></div>
                        </div>
                        <div class="close-filters-container">
                            <i class="fas fa-times"></i>
                        </div> 
                    </div>                 
                </div>
                <div class="filter-heading-div">

                </div>
                <div class="gender-filter-div">

                </div>
                <div class="top-new-filter-div">

                </div>
                <div class="categories-filter-div">

                </div>
                <div class="tos-faq-page-div">
                    <div class="faq-div">
                        FAQ
                    </div>
                    <div class="tos-div">
                        TOS
                    </div>
                </div>
            </div>
        </div>
        <!-- this is the container for cart button -->
        <div class="home-page-cart-button-container">
            <img src="{{ STATIC_SUFFIX }}images/cart.png" alt="" class="cart-image">
        </div>
    </div>
    <!-- container for web is ended here -->
    <div class="mobile-container">
        <img src="images/LuciaCM.png" alt="" class="mobile-image">
        <!-- this is the container for profile pic -->
        <div class="profile-picture-container">
            <div class="profile-picture-div-mob">
                <img src="images/profilepic.png" alt="" class="mobile-profile-image">
            </div>
        </div>
        <!-- this is the container for filters button -->
        <div class="filters-menu-container">
            <div class="filter-button-mob">
                <div class="mob-filter-line-1"></div>
                <div class="mob-filter-line-2"></div>
                <div class="mob-filter-line-3"></div>
            </div>
        </div>
        <!-- this is the container for share button -->
        <div class="share-button-container">
            <div class="share-button-mob">
                <img src="images/share-button.svg" alt="" class="share-mob-image">
            </div>
        </div>
        <!-- this is the container for cart button -->
        <div class="cart-button-container">
            <div class="cart-button-mob">
                <img src="images/cart.png" alt="" class="cart-mob-image">
            </div>
        </div>
    </div>
    <div class="mobile-login-container">
        <div class="mob-back-div">
            <div class="mob-login-heading-div">
                Login
            </div>
            <div class="back-container">
                <i class="fas fa-clone"></i>
            </div>
        </div>
        <div class="mob-login-inputs-div">
            <div class="mob-login-inputs">
                <div class="mob-username-div">
                    <label for="mobusername">Username</label>
                    <input type="text" id="mobusername" class="mob-username-input" placeholder="@Lucia">
                </div>
                <div class="mob-password-div">
                    <label for="mobpassword">Password</label>
                    <input type="text" id="mobpassword" class="mob-password-input" placeholder="Hello1234">
                </div>
            </div>
        </div>
        <div class="mob-login-button-div">
            <button class="login-button-mob">
                Login
            </button>
        </div>
    </div>



    <!-- AJAX for login form -->
    <script type="application/javascript">
        $(document).ready(function () {

                //ajax login form
                let loginForm = $('.ajax-login-form');
                let loginPage = $('.login-page-container');
                let loginRequestResult = $('.login-request-result');

                $('.login-button').click(function (e) {
                    e.preventDefault();
                    console.log('login pressed');
                    let data = loginForm.serialize();
                    console.log(data);
                    let action = {% url 'authenticate' %};
                    let method = loginForm.attr('method');

                    $.ajax({
                        url: action,
                        method: method,
                        data: data,
                        success: function (data) {
                            if (data.authenticated){
                                loginPage.html('<h2 style="text-align: center">Welcome {{ user.username }}</h2><br><p>Control Panel is under construction yet</p>')
                            }
                        },
                        error: function (errors) {
                            console.log('error', errors);
                            loginRequestResult.html("username/password is invalid");
                        },
                    })


                })


            })
    </script>
</body>
</html>