<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_SUFFIX %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Lucia</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://kit.fontawesome.com/6c5f0342bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- this is the container for home page -->
    <div class="home-page-container">
        <!-- this is container for the gallery of images -->
        <div class="home-page-image-gallery-container">
            <!-- this is the container for image -->
            <div class="image-container">
                <img src="{% static 'images/first.png' %}" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div>
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/second.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/third.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/fourth.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/fifth.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_SUFFIX }}images/third.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div>                    
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_SUFFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
        </div>
        <!-- this is the container for profile picture -->
        <div class="home-page-profile-picture-container">
            <!-- this is the profile picture -->
            <div class="profile-picture-div">
                <div class="profile-pic">
                    <img src="{{ STATIC_SUFFIX }}images/profilepic.png" alt="" class="profile-image">
                </div>
            </div>
        </div>
        <!-- this is the container for login page -->
         <form class="ajax-login-form" method="post">
            {% csrf_token %}
            <div class="login-page-container">
                <div class="login-page">
                    <div class="login-page-cross-button">
                        <div class="close-login-page-container">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <div class="login-page-heading">
                        Login
                    </div>
                    <div class="login-page-inputs">
                        <div class="inputs-container">

                            <div class="username-input-div">
                                <label for="username">Username:</label>
                                <input type="text" id="username" class="username-input" name="username" placeholder="@LuciaMareno">
                            </div>
                            <div class="password-input-div">
                                <label for="password">Password:</label>
                                <input type="password" id="password" class="password-input" name="password" placeholder="Hello1234">
                            </div>
                            <br>
                            <p class="login-request-result" style="color: #8b150f"></p>
                        </div>
                    </div>
                    <div class="login-page-button">
                        <input type="submit" name="submit" value="Login" class="login-button">
                    </div>
                </div>
            </div>
         </form>
        <!-- this is the container for filter button -->
        <div class="home-page-filter-button-container">
            <div class="filter-button">
                <div class="line-filter-1"></div>
                <div class="line-filter-2"></div>
                <div class="line-filter-3"></div>
            </div>
        </div>
        <!-- this is the container for all filters -->
        <div class="filters-container">
            <!-- this is the container for closing filters container -->
            <div class="close-filters-container">

            </div>
        </div>
        <!-- this is the container for cart button -->
        <div class="home-page-cart-button-container">
            <img src="{{ STATIC_SUFFIX }}images/cart.png" alt="" class="cart-image">
        </div>
    </div>



    <!-- AJAX for login form -->
    <script type="application/javascript">
        $(document).ready(function () {

                //ajax login form
                let webLoginForm = $('.ajax-login-form');
                let webLoginPage = $('.login-page-container');
                let webLoginRequestResult = $('.login-request-result');

                webLoginForm.submit(function (e) {
                    e.preventDefault();
                    console.log('login pressed');
                    let data = webLoginForm.serialize();
                    console.log(data);
                    let action = {% url 'authenticate' %};
                    let method = webLoginForm.attr('method');

                    $.ajax({
                        url: action,
                        method: method,
                        data: data,
                        success: function (data) {
                            if (data.authenticated){
                                webLoginPage.html('<h2 style="text-align: center">Welcome {{ user.username }}</h2><br><p>Control Panel is under construction</p>')
                            }
                        },
                        error: function (errors) {
                            console.log('error', errors);
                            webLoginRequestResult.html("username/password is invalid");
                        },
                    })


                })


            })
    </script>
</body>
</html>