<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Lucia</title>
    <link rel="stylesheet" href="{{ STATIC_PREFIX }}css/style.css">
    <script src="{{ STATIC_PREFIX }}js/app.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://kit.fontawesome.com/6c5f0342bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- this is the container for home page -->
    <div class="home-page-container">
        <!-- this is container for the gallery of images -->
        <div class="home-page-image-gallery-container">
            <!-- this is the container for image -->
            <div class="image-container">
                <img src="{{ STATIC_PREFIX }}images/first.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div>
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_PREFIX }}images/second.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_PREFIX }}images/third.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_PREFIX }}images/fourth.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_PREFIX }}images/fifth.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div> 
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
            <div class="image-container">
                <img src="{{ STATIC_PREFIX }}images/third.png" alt="" class="image-in-gallery">
                <!-- this is the container for tag button -->
                <div class="tag-button-container">
                    <div class="tag-button-add-button-div">
                        <div class="tag-button-div">
                            <i class="fas fa-tag"></i>
                        </div>
                        <div class="add-button-div">
                            ADD +
                        </div>
                    </div> 
                    <div class="price">
                        29,99€
                    </div>                    
                </div>
                <!-- the container for share button -->
                <div class="share-button-container">
                    <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-button">
                </div>
            </div>
        </div>
        <!-- this is the container for profile picture -->
        <div class="home-page-profile-picture-container">
            <!-- this is the profile picture -->
            <div class="profile-picture-div">
                <div class="profile-pic">
                    <img src="{{ STATIC_PREFIX }}images/profilepic.png" alt="" class="profile-image">
                </div>
            </div>
        </div>
        <!-- this is the container for login page -->
        <div class="login-page-container">
            <form class="ajax-web-login-form" method="post" action="{% url 'authenticate' %}">
                {% csrf_token %}
                <div class="login-page">
                    <div class="login-page-cross-button">
                        <div class="close-login-page-container">
                            <i class="fas fa-clone"></i>
                        </div>
                    </div>
                    <div class="login-page-heading">
                        Login
                    </div>
                    <div class="login-page-inputs">
                        <div class="inputs-container">

                            <div class="username-input-div">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" class="username-input" placeholder="@LuciaMareno">
                            </div>
                            <div class="password-input-div">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" class="password-input" placeholder="Hello1234">
                            </div>
                            <p style="color: #8b1915" class="web-login-request-error"></p>
                        </div>
                    </div>
                    <div class="login-page-button">
                        <input type="submit" class="login-button" value="Login">
                    </div>
                </div>
            </form>
        </div>
        <!-- this is the container for filter button -->
        <div class="home-page-filter-button-container">
            <div class="filter-button">
                <div class="line-filter-1"></div>
                <div class="line-filter-2"></div>
                <div class="line-filter-3"></div>
            </div>
        </div>
        <!-- this is the container for all filters -->
        <div class="filters-container">
            <div class="filters-page">
                <div class="filter-menu-div">
                    <div class="filter-menu">
                        <div class="filter-button-inner-page">
                            <div class="inner-line-filter-1"></div>
                            <div class="inner-line-filter-2"></div>
                            <div class="inner-line-filter-3"></div>
                        </div>
                        <div class="close-filters-container">
                            <i class="fas fa-times"></i>
                        </div> 
                    </div>                 
                </div>
                <div class="filter-heading-div">

                </div>
                <div class="gender-filter-div">

                </div>
                <div class="top-new-filter-div">

                </div>
                <div class="categories-filter-div">

                </div>
                <div class="tos-faq-page-div">
                    <div class="faq-div">
                        FAQ
                    </div>
                    <div class="tos-div">
                        TOS
                    </div>
                </div>
            </div>
        </div>
        <!-- this is the container for cart button -->
        <div class="home-page-cart-button-container">
            <img src="{{ STATIC_PREFIX }}images/cart.png" alt="" class="cart-image">
        </div>
    </div>
    <!-- container for web is ended here -->



    <div class="mobile-container">
        <img src="{{ STATIC_PREFIX }}images/LuciaCM.png" alt="" class="mobile-image">
        <!-- this is the container for profile pic -->
        <div class="profile-picture-container">
            <div class="profile-picture-div-mob">
                <img src="{{ STATIC_PREFIX }}images/profilepic.png" alt="" class="mobile-profile-image">
            </div>
        </div>
        <!-- this is the container for filters button -->
        <div class="filters-menu-container">
            <div class="filter-button-mob">
                <div class="mob-filter-line-1"></div>
                <div class="mob-filter-line-2"></div>
                <div class="mob-filter-line-3"></div>
            </div>
        </div>
        <!-- this is the container for share button -->
        <div class="share-button-container">
            <div class="share-button-mob">
                <img src="{{ STATIC_PREFIX }}images/share-button.svg" alt="" class="share-mob-image">
            </div>
        </div>
        <!-- this is the container for cart button -->
        <div class="cart-button-container">
            <div class="cart-button-mob">
                <img src="{{ STATIC_PREFIX }}images/cart.png" alt="" class="cart-mob-image">
            </div>
        </div>
    </div>
    <div class="mobile-login-container">
        <form class="mobile-login-form-ajax" method="post" action="{% url 'authenticate' %}">
            {% csrf_token %}

            <div class="mob-back-div">
                <div class="mob-login-heading-div">
                    Login
                </div>
                <div class="back-container">
                    <i class="fas fa-clone"></i>
                </div>
            </div>
            <div class="mob-login-inputs-div">
                <div class="mob-login-inputs">
                    <div class="mob-username-div">
                        <label for="mobusername">Username</label>
                        <input type="text" id="mobusername" name="username" class="mob-username-input" placeholder="@Lucia">
                    </div>
                    <div class="mob-password-div">
                        <label for="mobpassword">Password</label>
                        <input type="password" id="mobpassword" name="password" class="mob-password-input" placeholder="Hello1234">
                    </div>
                    <p style="color: #8b1915" class="mobile-login-error-field"></p>
                </div>
            </div>
            <div class="mob-login-button-div">
                <input type="submit" class="login-button-mob" value="Login">

            </div>
        </form>
    </div>




<script type="application/javascript">
    $(document).ready(function () {
        let webLoginPage = $('.login-page-container');
        let webLoginForm = $('.ajax-web-login-form');
        let webLoginErrorField = $('.web-login-request-error');
        let mblLoginPage = $('.mobile-login-container');
        let mblLoginFOrm = $('.mobile-login-form-ajax');
        let mblLoginErrorField = $('.mobile-login-error-field');


        webLoginForm.submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: {% url 'authenticate' %},
                method: 'POST',
                data: webLoginForm.serialize(),
                success: function (data) {
                    console.log(data);
                    webLoginPage.html("<h1 style=\"text-align: center\">Welcome on Board {{ user.username }}</h1>")
                },
                error: function (data) {
                    console.log(data);
                    webLoginErrorField.html("username/password is invalid!")
                }
            })
        })

        mblLoginFOrm.submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: {% url 'authenticate' %},
                method: 'POST',
                data: mblLoginFOrm.serialize(),
                success: function (data) {
                    console.log(data);
                    mblLoginPage.html("<h1 style=\"text-align: center\">Welcome on Board {{ user.username }}</h1>")
                },
                error: function (data) {
                    console.log(data);
                    mblLoginErrorField.html('username/password is invalid!');
                }
            })
        })
    })

</script>

</body>
</html>